// START general style
// ----------------------- 

//START nav bar style
// -----------------------
.nav-second-level{

    a.active{
        font-weight: bold;
    }
}



//START drop zone style
.dropzone{
    position: relative;
    width: 100%;
    border: 2px dashed rgba(59, 62, 71, 0.3);
    background: #fff;
    border-radius: 6px;
    padding: 20px;
    cursor: pointer;

    transition: all .3s ease-in-out;

    .dz-message{
        text-align: center;
        //margin: 2em 0;

        i{
            font-size: 36px;
        }

        h3{
            color: #6c757d;
            font-size: 1.5rem;
        }
    }

    .alert{
        position: absolute;
        bottom: 3px;
        left: 50%;
        transform: translateX(-50%);
        margin: 0;
        padding: 1px;
        width: 60%;
    }

    //define the hover style
    &:hover{
        border-color:rgba(59, 62, 71, 0.6);

        .dz-message{
            i{color: #b7c1c5;}
        }
        h3{
            color: #838d96;
        }
    }
    
}


//TODO
//override form parsley style
.parsley-errors-list > li:before{
    top: 1px;
}



//TODO
//add style for FF page card header
.ff-card-header {
    display: flex;
}
.ff-card-header .card-header-content {
    flex-grow: 1;
}
.ff-card-header .card-header-tools {
    text-align: right;
    flex: 0 0 200px;
}



//START header
//-----------------------
.navbar-custom{

    .logo{
        h1, h3{
            margin: 0; 
            line-height: 70px;
            color: #fff;
        }
    }

    .logo-sm{
        h3{
            font-size: 16px;
        }
    }

} 



// START page dashboard 
// ---------------------------------
.main-banner-slider-item{
    box-shadow: 3px 5px 10px rgb(152, 166, 173);
    border: 1px solid rgba(152, 166, 173, 0.2) !important;
    margin-bottom: 30px;

    img{
        height: 115px;
        object-fit: contain;
    }

    .card-body{
        padding: .75rem;
    }

    .card-title{
        margin: 0;
        height: 64px;
        overflow: hidden;
    }

    .card-btns{
        text-align: right;

        button{
            margin-left: 5px;
        }
    }
}

//define the screen size < 575px
@media (max-width: 575px) {

    .main-banner-slider-item{
        margin-bottom: 1.5rem;

        img{
            height: 150px;
        }
    }
}



// START 
// ---------------------------------


//import customrize style
@import './cnspro/projects-table';
@import './cnspro//project-modal';
@import './cnspro//banner-slider-modal';
@import './cnspro/toast-box';
