// START general style
// ----------------------- 

//TODO
//override form parsley style
.parsley-errors-list > li:before{
    top: 1px;
}



//TODO
//add style for FF page card header
.ff-card-header {
    display: flex;
}
.ff-card-header .card-header-content {
    flex-grow: 1;
}
.ff-card-header .card-header-tools {
    text-align: right;
    flex: 0 0 200px;
}



//START header
//-----------------------
.navbar-custom{

    .logo{
        h1, h3{
            margin: 0; 
            line-height: 70px;
            color: #fff;
        }
    }

    .logo-sm{
        h3{
            font-size: 16px;
        }
    }

} 



// START page dashboard 
// ---------------------------------
.main-banner-slider-item{
    box-shadow: none;
    border: 1px solid rgba(152, 166, 173, 0.2) !important;

    img{
        height: 115px;
        object-fit: contain;
    }

    .card-body{
        padding: .75rem;
    }

    .card-title{
        margin: 0;
        height: 64px;
        overflow: hidden;
    }

    .card-btns{
        text-align: right;

        button{
            margin-left: 5px;
        }
    }
}



// START 
// ---------------------------------


//import customrize style
@import './cnspro/projects-table';
@import './cnspro//project-modal';
@import './cnspro/toast-box';
