// START general style
// ----------------------- 
#main-loader{
    display: none;
}


//START header
//-----------------------
.navbar-custom{

    .logo{
        h1, h3{
            margin: 0; 
            line-height: 70px;
            color: #fff;
        }
    }

    .logo-sm{
        h3{
            font-size: 16px;
        }
    }

} 



// START page dashboard 
// ---------------------------------


//import customrize style
@import './projects-table';
