//START projects table
.projects-table{
    table-layout: fixed;

    .th-btns{
        width: 60px;
    }
    .th-completed-on{
        width: 120px;
    }

    th{
        width: auto;
    }

    td{
        font-size: 13px;
    }
    
    //properties style
    .td-properties{
        .properties-item-label{
            margin-right: 5px;
            span{display: none;}
        }
        .properties-item-value{
            font-weight: bold;
        }
    }

    .td-btns{
        padding-left: 0;
        padding-right: 0;
        text-align: right;
    }

    
}