// START banner slider item image
// --------------------------------
#banner-slider-item-image{

    .image-box{
        position: relative;
        height: 200px;

        img{
            background-color: #efefef;
            position: relative;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .image-upload-box{
        .dropzone{
            padding: 10px;
            h3{font-size: 1rem; margin: 5px 0;}

            .alert{
                width: 80%;
                background-color: rgba($color: #fddbd9, $alpha: .9);
            }
        }
    }

}

//define the screen size < 575px
@media (max-width: 575px) {

    #banner-slider-item-image{
        .image-box{
            height: 150px;
        }
    }
}


//START main-banner-slider-modal
#main-banner-slider-modal{

    .modal-footer{
        .btn-danger{
            margin-right: auto;
        }
    }

}