// define the project modal style
// -------------------------------

//START drop zone style
.dropzone{
    width: 100%;
    border: 2px dashed rgba(59, 62, 71, 0.3);
    background: #fff;
    border-radius: 6px;
    padding: 20px;
    cursor: pointer;

    .dz-message{
        text-align: center;
        //margin: 2em 0;

        i{
            font-size: 36px;
        }

        h3{
            color: #6c757d;
            font-size: 1.5rem;
        }
    }
    
}



//START define the layout of modal
//according to request
.modal-new_project{}

//define the update project modal
.modal-update_project{
    #project-modal{
        width: 90%;
        max-width: 90%;
    }

    .col-info_fields, 
    .col-image_fields{
        flex: 0 0 50%;
        max-width: 50%;
    }

    .modal-footer{
        justify-content: flex-start;
    }
}


#project-modal{
    //width: 90%;
    //max-width:none;
    margin: 0 auto;
    transition: all .3s ease-in-out;


    //override modeal content style
    .modal-content{
        border: none;
        border-radius: 0;
    }


    //To setup sticky header
    .modal-header{
        position: sticky;
        top: 0;
        z-index: 10;
        background-color: #fff;
    }

    //START fields layout
    .col-info_fields, 
    .col-image_fields{
        padding-left: 15px;
        padding-right: 15px;
    }


    .checkbox-holder{
        padding-top: 30px;
    }
    .header-title{
        margin: 20px 0;
    }

    .properties-holder{
        label{
            i{margin-right: 5px;}
        }
    }
}


// START col-info_fields style
// ------------------------------
.col-info_fields{

    //START datepicker style
    .datepicker-holder{

        .input-group-text{
            line-height: 1.4;
        }

        .react-datepicker-wrapper{
            flex: 1;
        }    

        .form-control{
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

    }
    
}



// START col-images_fields style
// -------------------------------
.col-image_fields{
    .image-upload{
        margin-bottom: .75rem;
    }

    .images-list{

        .row{
            margin-left: -5px;
            margin-right: -5px;
        }

        .col-4{
            padding-left: 5px;
            padding-right: 5px;
            margin-bottom: 10px;
        }

        //START image box style
        .image-box{
            background-color: #efefef;
            position: relative;
            cursor: pointer;

            img{
                width: 100%;
                height: 200px;
                object-fit: contain;
            }

            button{
                display: none;
                position: absolute;
                top: 5px;
                right: 5px;
                padding: 0;
                width: 30px;
                height: 30px;
                border-radius: 50%;
            }
        }

        .image-box:hover{
            button{
                display: block;
            }
        }

        //START uploading
        .uploading{
            .ff-loader-container{
                position: absolute;
            }
        }

    }
}


